.login-alert-danger{
    font-size: .65vw;
    background-color: #D00000;
    color: #FFFFFF;
    padding: .5%;
    padding-left: 1.5%;
    width: 84%;
    position: absolute;
    top: 0;
    left: 14%;
    animation: swipe_bottom 500ms ease-in-out forwards;
}

.login-alert-success{
    font-size: .65vw;
    background-color: #018E42;
    color: #FFFFFF;
    padding: .5%;
    padding-left: 1.5%;
    width: 84%;
    position: absolute;
    top: 0;
    left: 14%;
    animation: swipe_bottom 300ms ease-in-out forwards;
}

@-webkit-keyframes swipe_bottom {
  0%{
    opacity: .2;
    -webkit-transform: scale(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
  }
}

.spinner-1 {
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 50%;
  position: absolute;
}
.spinner-1:after, .spinner-1:before {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.spinner-1:after {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 4px solid transparent;
  border-top-color: orangered;
  border-bottom-color: orangered;
  -webkit-animation: spinny 1s linear infinite;
}

@-webkit-keyframes spinny {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  50% {
  opacity: 1;
    -webkit-transform: rotate(45deg) scale(1.2);
            transform: rotate(45deg) scale(1.2);
  }
  100% {
      opacity: 0;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

h1 {
    color: #2A67C3;
    font-size: 40px;
    margin-bottom: 50px;
}

.div-content{
    margin-bottom: 70px;
    margin-left: 120px;
    min-height: 170px;
}

h2 {
    font-weight: normal;
    font-size: 25px;
    color: #2A67C3;
    transition: .2s;
}

h2:hover{
    color: #1d4684;
}

h3 {
    margin-top: 0px;
    font-weight: normal;
    font-size: 24px;
    color: #D00000;
    float: left;
}

.clanek_img {
    float: left;
}

.sluzba{
    margin-left: 25px;
}

.content {
    margin-left: 215px;
    transition: .2s;
}

.content:hover{
    color: #686868;
}

small{
    margin-left: 25px;
    color: #2A67C3;
    float: left;
}

.main a {
    color: #000000;
}

.perex{
    min-height: 70px;
}
