{% extends 'basic.html' %}
{% block content %}
  <div class="errors">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="login-alert-{{ category }}" id="hide_alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <!---<div class="spinner-1"></div> --->
  <div class="main">
    {% if current_user.is_authenticated %}
        <h1>Novinky</h1>
    {% for clanek in clanky %}
    <h3>{{ clanek.time }} -</h3>
      <a href={{ clanek.url }} target="_blank">
        <div class="div-content">
            <h2>{{ clanek.titulek }}</h2>
            <img class="clanek_img" width="192" height="108" src={{ clanek.img }} alt="Obrázek">
          <div class="perex">
            <p class="content">{{ clanek.content }}</p>
          </div>
            <img class="sluzba" width="60" height="60" src={{ url_for('static', filename=sluzby[clanek.sluzba] + '.png') }} alt="ASD">
            <small>{{ clanek.date }}</small>
        </div>
      </a>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}