{% extends 'basic.html' %}
{% block content %}
  <div class="errors">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="login-alert-{{ category }}" id="hide_alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <!---<div class="spinner-1"></div> --->
  <div>
    {% if current_user.is_authenticated %}
    {% for clanek in clanky %}
        <h1>{{ clanek.titulek }}</h1>
        <small>{{ clanek.date }}</small>
        <p>{{ clanek.content }}</p>
        <a target="_blank" href={{clanek.url}}>Odkaz</a>
        <img width="288" height="162" src={{ clanek.img }} alt="Obrázek">
        <p>{{ clanek.sluzba }}</p>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}